$z-layers: (
	canvas: 0,
	ui: 1,
	overlay: 2
);

@function z($name){
	@return map-get($z-layers, $name);
}

$amber: #ffb300;

html, body {
	background: #010101;
	overflow: hidden;
}

#lbl-menu-toggle {
	position: fixed;
	top: 20px;
	left: 30px;
	z-index: z("overlay");
	display: block;
	width: 24px;
	height: 20px;
	cursor: pointer;
	transform: translateZ(0);
	transition: opacity 0.5s, transform 0.5s;
	&.hidden {
		opacity: 0;
		transform: translateY(-10px) translateZ(0);
	}
	.bar {
		position: absolute;
		display: block;
		height: 2px;
		width: 100%;
		background-color: $amber;
		transition: transform 0.2s;
		&.line:first-of-type {
			top: 2px;
			transform-origin: right center;
			transition-delay: 0.1s;
		}
		&.cross {
			top: 8px;
			transform-origin: center center;
		}
		&.line:last-of-type {
			top: 14px;
			transform-origin: left center;
			transition-delay: 0.1s;
		}
	}
}

#ui-drawer {
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100vh - 65px);
	width: 40vw;
	max-width: 500px;
	padding-top: 60px;
	box-sizing: border-box;
	font-family: "Josefin Sans", sans-serif;
	background: #222;
	box-shadow: 0 0 4px rgba(0,0,0,0.8);
	overflow: hidden;
	opacity: 0;
	transform: translateX(-40.15vw) translateZ(0);
	transition: opacity 0.4s, transform 0.4s;
	.drawer-folder__label {
		position: relative;
		z-index: z("overlay");
		padding: 12px 30px 10px 30px;
		color: $amber;
		background: #333;
		box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	}
	.drawer-folder__option {
		position: relative;
		.option__sub-menu {
			position: relative;
		}
		.option__label {
			position: relative;
			width: 100%;
			display: block;
			padding: 12px 30px 10px 30px;
			font-size: 0.95em;
			color: white;
			box-sizing: border-box;
			background-color: #292929;
			transition: background-color 0.3s;
			&:not(#track--label) {
				cursor: pointer;
				&:hover {
					background-color: #2f2f2f;
				}
			}
		}
		&:not(:last-child) .option__label {
			border-bottom: 1px solid #1c1c1c;
		}
		.fa {
			width: 16px;
			margin-right: 10px;
			box-sizing: border-box;
			color: #6f6f6f;
			transition: color 0.3s;
		}
		.fa-lightbulb-o {
			padding: 0 3px;
		}
		.fa-signal {
			transform: scaleX(-1);
		}
		.fa-music, .fa-plus {
			color: $amber;
		}
		.fa-plus {
			margin-right: 0;
		}
		#btn-add-track {
			position: absolute;
			top: 12px;
			right: 30px;
			#in-add-track {
				display: none;
			}
			#lbl-add-track {
				cursor: pointer;
				&:hover:before {
					opacity: 1;
					transform: translateX(-4px);
				}
				&:before {
					position: absolute;
					display: block;
					content: "Add";
					white-space: nowrap;
					padding: 4px 8px 4px 4px;
					top: -2px;
					right: 14px;
					opacity: 0;
					transition: opacity 0.3s, transform 0.3s;
				}
			}
		}
		input[type="checkbox"] {
			display: none;
			&:checked ~ .fa {
				color: $amber;
			}
		}
	}
	.drawer-folder__option {
		height: 100%;
	}
	#track-list {
		position: relative;
		overflow-y: scroll;
		max-height: calc(100vh - 400px);
		width: calc(100% + 18px);
		.track-option {
			padding: 12px 30px 10px 30px;
			font-size: 0.95em;
			color: white;
			background-color: #1a1a1a;
			cursor: pointer;
			border-bottom: 1px solid #121212;
			transition: background-color 0.3s;
			&:hover {
				background-color: #1f1f1f;
			}
		}
	}
	#frm-track-title {
		position: absolute;
		top: 20px;
		right: 20px;
		width: calc(60% - 60px);
		padding: 20px;
		background-color: #3f3f3f;
		box-shadow: 0 2px 3px rgba(0,0,0,0.6);
		transform: translateZ(0);
		transition: opacity 0.3s, transform 0.3s;
		&.hidden {
			pointer-events: none;
			opacity: 0;
			transform: translateY(-10px) translateZ(0);
		}
		&:before {
			position: absolute;
			right: 12px;
			top: -7px;
			display: block;
			content: "";
			height: 16px;
			width: 16px;
			background-color: #3f3f3f;
			transform: rotate(45deg);
		}
		#lbl-track-title {
			display: block;
			margin-bottom: 8px;
			color: $amber;
		}
		#txt-track-title {
			width: 100%;
			box-sizing: border-box;
			padding: 4px;
			border-width: 0 0 1px 0;
			border-color: $amber;
			color: white;
			font-family: "Josefin Sans", sans-serif;
			background-color: transparent;
			&:focus {
				outline: none;
			}
			&::-webkit-input-placeholder {
				color: #9f9f9f;
			}
			&:-ms-input-placeholder { 
				color: #9f9f9f;
			}
			&::-moz-placeholder {
				color: #9f9f9f;
				opacity: 1;
			}
			&:-moz-placeholder {
				color: #9f9f9f;
				opacity: 1;
			}
		}
		#btn-submit-title {
      position: relative;
    	left: 100%;
			padding: 6px 12px;
			margin-top: 10px;
    	transform: translateX(-100%);
			background: transparent;
			border: 1px solid $amber;
			cursor: pointer;
			color: white;
			font-family: "Josefin Sans", sans-serif;
			transition: color 0.3s;
			&:hover,
			&:hover .fa {
				color: $amber;
			}
			&:focus {
				outline: none;
			}
			.fa {
				width: auto;
				margin-right: 0;
				margin-left: 8px;
				color: white;
			}
		}
	}
}

#chk-menu-toggle {
	display: none;
	&:checked {
		+ #lbl-menu-toggle {
			.line {
				transform: scaleX(0);
				transition-delay: 0;
			}
			.cross {
				transition-delay: 0.2s;
				&:nth-of-type(2) {
					transform: rotate(45deg) scale(0.8);
				}
				&:nth-of-type(3) {
					transform: rotate(135deg) scale(0.8);
				}
			}
		}
		~ #ui-drawer {
			opacity: 1;
			transform: translateX(0) translateZ(0);
		}
	}
}

#ui-overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: z("overlay");
}

#btn-initialize {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 0.8em 1em 0.6em 1em;
	border: 2px solid;
	border-radius: 1.5em;
	color: white;
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.2em;
	cursor: pointer;
	transform: translateX(-50%) translateY(-50%);
	transition: color 0.3s, opacity 0.5s;
	&:hover {
		color: $amber;
	}
	&:active {
		transform: translateX(-50%) translateY(-50%) scale(0.95);
	}
	&.disabled {
		opacity: 0;
		pointer-events: none;
	}
}

#loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 50px;
	height: 20px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transition: opacity 0.5s;
	&.hidden {
		opacity: 0;
	}
	&.loading .load-bar {
		animation: load-bar-animation 2s linear infinite;
	}
	.load-bar {
		flex: 1;
		height: 100%;
		background: $amber;
		opacity: 0.5;
		transform: scaleY(1) translateZ(0);
		&:not(:last-child) {
			margin-right: 2px;
		}
		@for $i from 1 through 5 {
			&:nth-child(#{$i}) {
				animation-delay: #{$i * 0.2}s;
			}
		}
	}
}

#audio-controls {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 65px;
	color: $amber;
	opacity: 1;
	box-shadow: 0 0 4px rgba(0,0,0,0.8);
	transition: opacity 0.5s, transform 0.5s;
	&.hidden {
		transform: translateY(10px);
		opacity: 0;
	}
	&.disabled {
		pointer-events: none;
		.fa {
			opacity: 0.2;
		}
	}
	#controls__container {
		position: relative;
		background-color: #0c0c0c;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 20px 30px;
		box-sizing: border-box;
	}
	#button-controls {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-right: 16px;
		.btn {
			display: flex;
			align-items: center;
			width: 16px;
			&:not(:last-child) {
				justify-content: center;
				margin-right: 12px;
			}
		}
	}
	#title {
		color: $amber;
		flex: 1;
		padding-top: 4px;
		font-family: "Josefin Sans", sans-serif;
		font-size: 1.2em;
		text-align: right;
		transition: opacity 0.3s, transform 0.3s;
	}
	#seek-bar {
		position: absolute;
		top: 0;
		z-index: z("overlay");
		height: 6px;
		width: 100%;
		background-color: #4f4f4f;
		cursor: pointer;
		transition: transform 0.5s;
		#progress-bar {
			height: 100%;
			width: 100%;
			background: $amber;
			transform: scaleX(0);
			transform-origin: center left;
			transition: transform 0.5s;
		}
	}
	#btn-prev, #btn-next {
		transform: scaleX(1.5);
		&:active {
			transform: scaleY(0.85) scaleX(1.35);
		}
	}
	.fa {
		cursor: pointer;
		transition: opacity 0.3s;
		&:active:not(#icon-volume):not(#btn-prev):not(#btn-next) {
			transform: scale(0.85);
		}
	}
	#icon-volume {
		position: relative;
		&:hover .input-container {
			opacity: 1;
		}
		.input-container {
			position: absolute;
			top: -8px;
			left: 12px;
			width: 60px;
			padding: 8px;
			opacity: 0;
			transition: opacity 0.3s;
		}
		#rng-volume {
			position: relative;
			bottom: 4px;
			width: 100%;
			-webkit-appearance: none;
			&:focus {
				outline: none;
			}
			&::-webkit-slider-runnable-track {
				width: 100%;
				height: 2px;
				cursor: pointer;
				background: #444;
			}
			&::-webkit-slider-thumb {
				height: 14px;
				width: 14px;
				border-radius: 50%;
				background: $amber;
				cursor: pointer;
				-webkit-appearance: none;
				margin-top: -6px;
			}
			&::-webkit-range-track {
				width: 100%;
				height: 2px;
				cursor: pointer;
				background: #444;
			}
			&::-webkit-range-thumb {
				height: 16px;
				width: 16px;
				border-radius: 50%;
				border: 2px solid #444;
				background: transparent;
				cursor: pointer;
				-webkit-appearance: none;
				margin-top: -7px;
			}
			&::-moz-slider-runnable-track {
				width: 100%;
				height: 2px;
				cursor: pointer;
				background: #444;
			}
			&::-moz-slider-thumb {
				height: 14px;
				width: 14px;
				border-radius: 50%;
				background: $amber;
				cursor: pointer;
				-webkit-appearance: none;
				margin-top: -6px;
			}
			&::-moz-range-track {
				width: 100%;
				height: 2px;
				cursor: pointer;
				background: #444;
			}
			&::-moz-range-thumb {
				height: 16px;
				width: 16px;
				border-radius: 50%;
				border: 2px solid #444;
				background: transparent;
				cursor: pointer;
				-webkit-appearance: none;
				margin-top: -7px;
			}
		}
	}
}

#codepen-link {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 40px;
  width: 40px;
  z-index: 10;
  border-radius: 50%;
  box-sizing: border-box;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/544318/logo.jpg');
  background-position: center center;
  background-size: cover;
  opacity: 0.4;
  transition: all 0.25s;
  
  &:hover {
    opacity: 0.8;
    box-shadow: 0 0 6px #efefef;
	}
}

@keyframes load-bar-animation {
	30% {
		opacity: 1;
		transform: scaleY(1.5) translateZ(0);
	}
	60% {
		opacity: 0.5;
		transform: scaleY(1) translateZ(0);
	}
	100% {
		opacity: 0.5;
		transform: scaleY(1) translateZ(0);
	}
}